<html ng-app="cgDemoApp">
	<head>
		<script src="scripts/angular.js"></script>
		<script src="scripts/myscript.js"></script>
		<style>
			*{
				margin:auto;
				padding:10px;
			}
			a{
				text-decoration:none;
			}
			a:visited,a:hover,a,.headerRow{
				background-color:#000000;
				color:#ffffff;
			}
			.evenRow{
				background-color:blue;
				color:black;
			}
			.oddRow{
				background-color:cyan;
				color:black;
			}
		</style>
	</head>
	<body>
		<div style="border-bottom:1px solid black" ng-controller="ctrl1">
			<h2>{{appTitle}}</h2>
			<h3>Call Me On {{contacts[0]}} |
				WhatsApp Me On {{contacts[1]}}</h3>
		</div>
		<div ng-controller="shopping">
			<table ng-init="sortCol='id';revFlag=false;">
				<tr class="headerRow">
					<th>Item#
					<a href="#" ng-click="sortCol='id';revFlag=false;">&darr;</a>
					<a href="#" ng-click="sortCol='id';revFlag=true;">&uarr;</a>
					</th>
					<th>Name
					<a href="#" ng-click="sortCol='name';revFlag=false;">&darr;</a>
					<a href="#" ng-click="sortCol='name';revFlag=true;">&uarr;</a>
					</th>
					<th>Rate
					<a href="#" ng-click="sortCol='rate';revFlag=false;">&darr;</a>
					<a href="#" ng-click="sortCol='rate';revFlag=true;">&uarr;</a>
					</th>
					<th>Qty
					<a href="#" ng-click="sortCol='qty';revFlag=false;">&darr;</a>
					<a href="#" ng-click="sortCol='qty';revFlag=true;">&uarr;</a>
					</th>
					<th>Amount
					<a href="#" ng-click="sortCol='amt';revFlag=false;">&darr;</a>
					<a href="#" ng-click="sortCol='amt';revFlag=true;">&uarr;</a>
					</th>
					<th>Action</th>
				</tr>
				<tr class="evenRow">
					<td><input type="number" ng-model="newItem.id"/></td>
					<td><input type="text" ng-model="newItem.name"/></td>
					<td><input type="number" ng-model="newItem.rate"/></td>
					<td />
					<td />
					<td><Button ng-click="addItem()">ADD</Button></td>
				</tr>
				<tr ng-repeat="item in items|orderBy:sortCol:revFlag" 
				    ng-class-even="'evenRow'"
					ng-class-odd="'oddRow'">
					<td ng-bind="item.id" />
					<td ng-bind="item.name|uppercase" />
					<td ng-bind="item.rate|currency:'&#8377;&nbsp;'" />
					<td><input type="number" ng-model="item.qty"  ng-change="computeAmount(item)"/></td>
					<td ng-bind="item.amt|currency:'&#8377;&nbsp;'" />
					<td><Button ng-click="removeItem($index)">Remove</Button></td>
				</tr>
				<tr>
					<td colspan="4" style="text-align:right">Total </td>
					<td ng-bind="totalCost|currency:'&#8377;&nbsp;'"/>
				</tr>
			</table>
			
			<hr />
			<p ng-repeat="item in items">
			  {{item|json}}
			</p>
			
			<hr />
			<p ng-repeat="item in items" ng-bind="item|json" />
		
		</div>
		
	</body>
</html>