<html ng-app="cgDemoApp">
	<head>
		<script src="scripts/angular.js"></script>
		<script src="scripts/myscript.js"></script>
	</head>
	<body>
		<div style="border-bottom:1px solid black" ng-controller="ctrl1">
			<h2>{{appTitle}}</h2>
			<h3>Call Me On {{contacts[0]}} |
				WhatsApp Me On {{contacts[1]}}</h3>
		</div>
		<div ng-controller="shopping" >
			<table>
				<tr>
					<th>Index</th>
					<th>Item#</th>
					<th>Name</th>
					<th>Rate</th>
					<th>Qty</th>
					<th>Amount</th>
					<th>Action</th>
				</tr>
				<tr>
					<td></td>
					<td><input type="number" ng-model="newItem.id"/></td>
					<td><input type="text" ng-model="newItem.name"/></td>
					<td><input type="number" ng-model="newItem.rate"/></td>
					<td />
					<td />
					<td><Button ng-click="addItem()">ADD</Button></td>
				</tr>
				<tr ng-repeat="item in items">	
					<td>{{$index}}</td>
					<td ng-bind="item.id" />
					<td ng-bind="item.name" />
					<td ng-bind="item.rate" />
					<td><input type="number" ng-model="item.qty"  ng-change="computeAmount(item)"/></td>
					<td ng-bind="item.amt" />
					<td><Button ng-click="removeItem($index)">Remove</Button></td>
				</tr>
				<tr>
					<td colspan="4" style="text-align:right">Total </td>
					<td ng-bind="totalCost"/>
				</tr>
			</table>
		
			<hr />
			<div ng-init="searchIndex=0">
				<label>Enter a item index: 
					<input type="number" ng-model="searchIndex"/>
				</label>
				<table>
					<tr><td>ID</td><td ng-bind="items[searchIndex].id" /></tr>
					<tr><td>Name</td><td ng-bind="items[searchIndex].name" /></tr>
					<tr><td>Rate</td><td ng-bind="items[searchIndex].rate" /></tr>
				</table>
			</div>
		</div>
		
	</body>
</html>