
*{
	margin:5px;
	padding:5px;
}

body{
	background-color:#0000ff;
	color:#ff0000;
}

#tbodyItems tr td{
	border-bottom: 1px solid #ffffff;
}

#tbodyItems tr:first-child td{
	border-top: 1px solid #ffffff;
}