
<h3>Add New Book</h3>

<p *ngIf="msg.trim().length>0">
  {{msg}}
</p>

<form>
  <table>
      <tr>
          <td>BCode:</td>
          <td><input type="text" name="bcd" [(ngModel)]="book.bcode" /></td>
      </tr>
      <tr>
        <td>Title:</td>
        <td><input type="text" name="bnm" [(ngModel)]="book.title" /></td>
      </tr>
      <tr>
        <td>Price:</td>
        <td><input type="decimal" name="bpr" [(ngModel)]="book.price" /></td>
      </tr>
      <tr>
        <td>Publish Date:</td>
        <td><input type="date" name="bpd" [(ngModel)]="dop" (change)="updateDOP()" /></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align:right">
          <button type="button" (click)="add()">Add</button>
        </td>
      </tr>
  </table>
</form>